@model PIM_Dashboard.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h4>Item</h4>
<hr />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</button>
        <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="false">
            <a class="nav-link" asp-action="Edit" asp-route-itemName="@Model.ItemName">Details</a>
        </button>
        <button class="nav-link" id="nav-includes-tab" data-bs-toggle="tab" data-bs-target="#nav-includes" type="button" role="tab" aria-controls="nav-includes" aria-selected="false">Includes</button>
        <button class="nav-link" id="nav-included-tab" data-bs-toggle="tab" data-bs-target="#nav-included" type="button" role="tab" aria-controls="nav-included" aria-selected="false">Included in</button>
    </div>
</nav>

                                                        @*Overview Tab*@

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="row">
            <div class="col-10 offset-1 col-md-4 offset-md-3">
                <h4>Item details</h4>
                <hr />
                <dl class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ItemName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemCreated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ItemCreated)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemPackageType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ItemPackageType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemRetailPrice)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ItemRetailPrice)
                    </dd>
                </dl>
                <div class="row">
                    <a asp-action="Delete" asp-route-itemName="@Model.ItemName">Delete</a>
                </div>


                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-5 offset-md-0">
                <div class="col-sm-10">
                    <img class="room-image" src="@("~/Image/"+Model.ResourceFileName)" asp-append-version="true" width="320px" height="240px" />
                </div>
            </div>
        </div>
    </div>                                                          


                                                        @*Includes Tab*@



    <div class="tab-pane fade show active" id="nav-includes" role="tabpanel" aria-labelledby="nav-includes-tab">
    </div>
    


                                                        @*Included in Tab*@



    <div class="tab-pane fade show active" id="nav-included" role="tabpanel" aria-labelledby="nav-included-tab">
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }