@model PIM_Dashboard.Models.Item

<dl class="row mt-5">
    <dt>
        Item Name
    </dt>
    <dd>
        @Model.ItemName
    </dd>
    <dt>
        Date of Creation
    </dt>
    <dd>
        @Model.ItemCreated
    </dd>
    <dt>
        Item Status
    </dt>
    <dd>
        @Model.ItemStatus
    </dd>
    <dt>
        Item Type
    </dt>
    <dd>
        @Model.ItemPackageType
    </dd>
    <dt>
        Food group
    </dt>
    <dd>
        @Model.ItemFoodGroup
    </dd>
    <dt>
        Package quantity
    </dt>
    <dd>
        @Model.ItemPackageQuantity
    </dd>
    <dt>
        Force Send Status
    </dt>
    <dd>
        @Model.ItemForceSend
    </dd>
</dl>
<div class="row">
    <a asp-action="Delete" asp-route-itemName="@Model.ItemName">Delete</a>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>