@model PIM_Dashboard.Models.Item

<dl class="row mt-5">
    <dt>
        Item Name
    </dt>
    <dd>
        @Model.ItemName
    </dd>
    <dt>
        Date of Creation
    </dt>
    <dd>
        @Model.ItemCreated
    </dd>
    <dt>
        Item Status
    </dt>
    <dd>
        @Model.ItemStatus
    </dd>
    <dt>
        Item Type
    </dt>
    <dd>
        @Model.ItemPackageType
    </dd>
    <dt>
        Engine Type
    </dt>
    <dd>
        @Model.ItemEngineType
    </dd>
    <dt>
        Service Interval
    </dt>
    <dd>
        @Model.ItemServiceInterval
    </dd>
    <dt>
        Item Retail Price
    </dt>
    <dd>
        @Model.ItemRetailPrice
    </dd>
    <dt>
        Force Send Status
    </dt>
    <dd>
        @Model.ItemForceSend
    </dd>
</dl>

<!-- Button trigger modal -->

<a asp-action="Index" class="btn btn-secondary mt-3 w-25 mx-3">Back</a>
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-danger mt-3 w-25 mx-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Delete
    </a>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ItemName" />
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    }