@model PIM_Dashboard.ViewModels.Product_Item_ViewModel

<!-- Dashboard Counts Section-->
<section class="pb-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5">
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-transparent">
                                <img class="image-thumbnail img-fluid" src="/Image/Assets/Product.png" asp-append-version="true" width="64px" height="64px" />
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">New<br>Products</h6>
                                <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="number"><strong class="text-lg">@Model.Products.Count</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-transparent">
                                <img class="image-thumbnail img-fluid" src="/Image/Assets/Item.png" asp-append-version="true" width="64px" height="64px" />
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">New<br>Items</h6>
                                <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="number"><strong class="text-lg">@Model.Items.Where(x => x.ItemCreated.Date == DateTime.Today.Date).Count()</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-transparent">
                                <img class="image-thumbnail img-fluid" src="/Image/Assets/Resource.png" asp-append-version="true" width="64px" height="64px" />
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">New<br>Resources</h6>
                                <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="number"><strong class="text-lg">0</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-transparent">
                                <img class="image-thumbnail img-fluid" src="/Image/Assets/Total.png" asp-append-version="true" width="64px" height="64px" />
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Total<br>Entities</h6>
                                <div class="progress" style="height: 4px">
                                    <div class="progress-bar bg-transparent" role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="number"><strong class="text-lg">@(Model.Products.Count + Model.Items.Count)</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard Header Section    -->
<section class="pb-0">
    <div class="container-fluid">        
        <div class="row justify-content-around">
            <!-- Statistics -->
            <div class="col-lg-3 col-12">
                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-transparent">
                                <img class="image-thumbnail img-fluid" src="/Image/Assets/Product.png" asp-append-version="true" width="64px" height="64px" />
                            </div>
                            <div class="ms-3"><strong class="text-lg d-block lh-1 mb-1">@Model.Products.Count</strong><small class="text-uppercase text-gray-500 small d-block lh-1">Go to Products page</small></div>
                        </div>
                    </div>
                </div>                    
                </a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Index">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-transparent">
                                <img class="image-thumbnail img-fluid" src="/Image/Assets/Item.png" asp-append-version="true" width="64px" height="64px" />
                            </div>
                            <div class="ms-3"><strong class="text-lg d-block lh-1 mb-1">@Model.Items.Count</strong><small class="text-uppercase text-gray-500 small d-block lh-1">Go to Items Page</small></div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
            <img class="mt-3 mb-5" src="/Image/Assets/PIM-Background.jpeg" asp-append-version="true" width="155px" height="225px" />
        </div>
</section>